html,body,h1,h2,h3,h4,h4,p,div,a{
	margin:0;
	padding:0;
}

body{
	background:rgb(252,252,252);
}

.plot{
	min-height:250px;
}
.plot-col-4{
	width:33%;
	float:left;
}

.time-series{}
	.time-series .area{ fill-opacity:.6; }
	.time-series .line{ 
		fill:none; 
		stroke:none;
		stroke-width:1.5px;
	}
	.time-series .axis-y line{ stroke:white; opacity:.7;}
	.time-series .axis .domain{ display:none; }
	.time-series .axis text{ fill:rgb(80,80,80); }
